@charset "utf-8";

/*--------------------------------
初期設定
----------------------------------*/

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

/* :where(html) {
    -webkit-text-size-adjust: none;
    color-scheme: dark light
} */
@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  block-size: 100%;
  block-size: 100dvb;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  -webkit-border-before: 1px solid;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

:root {
  /* color */
  --white: #FFFFFF;
  --grey-10: #eeeeee;
  --grey-25: #aaaaaa;
  --grey-50: #707070;
  --grey-75: #444444;
  --black: #222222;
  --main-color: #567167;
  --base-color: #F7F7ED;
  --accent-color: #514C49;
  --accent-color-r: #db5139;
  --accent-color-g: #59CC0D;
  /* typography */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem);
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem);
  --heading2: calc(var(--body) * 1.5);
  --heading3: calc(var(--body) * 1.2);
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem);
  --small-heading3: calc(var(--small-heading2) * 0.86);
  /* space */
  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem);
  --space-sm: calc(var(--space-xs) * 1.5);
  --space-md: calc(var(--space-xs) * 2);
  --space-lg: calc(var(--space-xs) * 3);
  --space-xl: calc(var(--space-xs) * 4);
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem);
  scroll-behavior: smooth;
  --header-height: 130px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "articulat-cf", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: var(--white);
  background-color: var(--main-color);
}

body,
h1,
h3,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* 全ページ共通 -----------------------------------------------------------*/

/*--------------------------------
コンテナ
----------------------------------*/

#container {
  max-width: 100%;
  margin: 0 auto;
}

/*--------------------------------
ヘッダー
----------------------------------*/

.header {
  display: flex;
  width: 100%;
  background-color: var(--white);
  padding: 0 100px;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-between;
}

.t-nav {
  display: flex;
}

/*--------------------------------
ロゴ
----------------------------------*/

.header__logo {
  margin: auto 0;
}

.header__logo a img {
  height: clamp(3.125rem, -0.876rem + 8.35vw, 6.25rem);
}

/*--------------------------------
グロナビ
----------------------------------*/

#g-nav {
  width: 300px;
  margin-right: 30px;
}

.g-nav__item {
  width: calc(100% / 2);
  line-height: var(--header-height);
}

.g-nav__item a {
  display: block;
  text-align: center;
  color: var(--black);
  font-size: clamp(0.75rem, 0.43rem + 0.67vw, 1rem);
}

.g-nav__item a:hover {
  background-color: var(--white);
  color: var(--main-color);
}

.nav {
  display: flex;
  justify-content: end;
}

/*--------------------------------
hamburger-menu
----------------------------------*/

.hamburger-menu {
  width: 50px;
  height: 50px;
  margin: auto 0;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
}

.hamburger-menu__bar {
  font-weight: bold;
  display: inline-block;
  width: 44%;
  height: 2px;
  background: #242424;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}

.hamburger-menu__bar:first-child {
  top: 16px;
}

.hamburger-menu__bar:nth-child(2) {
  top: 24px;
}

.hamburger-menu__bar:last-child {
  top: 32px;
}

.hamburger-menu--open .hamburger-menu__bar {
  top: 50%;
}

.hamburger-menu--open .hamburger-menu__bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.hamburger-menu--open .hamburger-menu__bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
  display: none;
}

.navigation {
  display: none;
  background: #242424;
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navigation__list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__list-item {
  border-bottom: solid 1px #474747;
}

.navigation__list-item:first-child {
  border-top: solid 1px #474747;
}

.navigation__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  transition: .5s;
}

@media (hover: hover) and (pointer: fine) {
  .navigation__link:hover {
    background: #333;
  }
}

/*--------------------------------
フッター
----------------------------------*/

.footer {
  height: 450px;
  padding: 20px clamp(1.25rem, -21.158rem + 46.74vw, 18.75rem);
  background-color: var(--white);
  font-size: clamp(0.75rem, 0.43rem + 0.67vw, 1rem);
  color: var(--black);
}

.ft {
  display: flex;
  justify-content: space-between;
}

.ft_links {
  width: 600px;
  display: flex;
  justify-content: end;
  justify-content: space-between;
}

.ft_links_li {
  margin: 30px;
}

.ft_links_li:hover a {
  color: #9d9d9d;
}

.ft__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ft__add {
  text-align: center;
}

.ft__name {
  font-size: 30px;
}

.ft_snsLinks_ul {
  display: flex;
  justify-content: end;
  font-size: 50px;
}

.ft_snsLinks_ul li:hover a {
  color: #9d9d9d;
}

.fa-brands {
  margin: 0 20px;
}

.ft_copyright {
  text-align: center;
}

/* 全ページ共通ここまで ---------------------------------------------------*/

/* TOPページページここから ------------------------------------------------*/

/*--------------------------------
セクション
----------------------------------*/

section {
  margin-bottom: 3rem;
}

/*--------------------------------
メインビジュアル(mv)
----------------------------------*/

#top #mv {
  background-image: url(../image/hugues-de-buyer-mimeure-hGuGRayJrv0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--header-height));
  position: relative;
  margin-bottom: 150px;
}

.mv__text {
  text-align: right;
  position: absolute;
  top: 20%;
  right: 5%;
  color: var(--white);
}

.mv__copy {
  font-size: 20px;
  font-weight: normal;
}

.mv__lead {
  font-size: 70px;
}

/*--------------------------------
コンテンツ(contents)
----------------------------------*/

.contents {
  max-width: 1166px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 183px;
}

/*--------------------------------
お知らせ(news)
----------------------------------*/

#news01 {
  display: flex;
}

.title-style {
  font-size: 40px;
}

.btn {
  width: 293px;
  line-height: 96px;
  font-size: 30px;
  text-align: center;
}

a.btn {
  color: var(--white);
  background-color: #898989;
}

a.btn:hover {
  background: #9d9d9d;
}

.news__item {
  display: flex;
  justify-content: space-between;
}

/*--------------------------------
facility shop access 共通
----------------------------------*/

.page_description {
  width: 424px;
  height: clamp(18.75rem, -3.338rem + 46.08vw, 36rem);
  padding-top: clamp(0rem, -12.004rem + 25.04vw, 9.375rem);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.contents_img {
  width: 740px;
}

/*——　文字の右にライン　——*/
.title-border-right {
  display: flex;
  align-items: center;
}

.title-border-right:after {
  border-top: 0.5px solid;
  content: "";
  flex-grow: 0.5;
}

.title-border-right:after {
  margin-left: 1rem;
}

/*--------------------------------
facility　access　共通
----------------------------------*/

#facility02,
#access04 {
  display: flex;
  flex-direction: row-reverse;
}

.right_flow {
  text-align: right;
}

.btn_r {
  margin: 0 0 0 auto;
}

/*——　文字の左にライン　——*/
.title-border-left {
  display: flex;
  justify-content: end;
  align-items: center;
}

.title-border-left:before {
  border-top: 0.5px solid;
  content: "";
  flex-grow: 0.5;
}

.title-border-left:before {
  margin-right: 1rem;
}

/*--------------------------------
ストア(shop)
----------------------------------*/

#onlinestore03 {
  display: flex;
}

/* TOPページページここまで ------------------------------------------------*/

/* slider --------------------------------------------------------------*/
.slider {
  width: 100%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
}

.news_date {
  color: #000000;
  font-size: 1rem;
  margin-bottom: 3px;
}

.news_slide_images {
  font-size: 1rem;
  color: #F7F7ED;
  text-align: center;
  margin-top: 20px;
}

/* sliderここまで ------------------------------------------------------*/
/* slideshowここから ------------------------------------------------------*/
#shop #slideshow {
  position: relative;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#shop #slideshow img {
  position: absolute;
  z-index: 3;
  opacity: 0.0;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#shop #slideshow img.active {
  z-index: 5;
  opacity: 1.0;
  width: 100%;
  height: 600px;

}

#shop #slideshow img.last-active {
  z-index: 4;
  width: 100%;
  height: 600px;

}

/* slideshowここまで ------------------------------------------------------*/

/*--------------------------------
news
----------------------------------*/
#news #mv {
  background-image: url(../image/news.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--header-height));
  position: relative;
  margin: 0;
}

#news .news__item {
  display: flex;
  width: 1166px;
  justify-content: space-between;
}

#textnews {
  text-align: center;
  background: var(--main-color);
  width: auto;
  height: auto;
}

#news .contents {
  margin: 0 auto 50px;
}

#news #recently {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.news_description .description {
  font-size: 1rem;
  margin-top: 60px;
  padding: 0 20px;
}

#news .calendar-section {
  margin: 20px;
}

/*--------------------------------
news detail
----------------------------------*/
.news_detail p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

.news_detail h2 {
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}

#news .news_detail {
  max-width: 800px;
  object-fit: cover;
  text-align: center;
  margin: 40px auto 5rem auto;
}

/*--------------------------------
reserve
----------------------------------*/
#reserve #mv {
  background-image: url(../image/log-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--header-height));
  position: relative;
  margin-bottom: 150px;
}

#reserve h1 {
  text-align: center;
}

#reserve .section_reserve {
  display: flex;
  gap: 20px;
}

#reserve .section_left {
  width: 60%;
}

#reserve .section_right {
  width: 40%;
}

#reserve .campsite_article {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
}

#reserve .campsite_article h2 {
  margin-top: 0;
}

#reserve .campsite_article p {
  margin: 0;
  font-size: 18px;
}

#reserve .campsite_article .campsite_top p {
  font-size: 22px;
}

#reserve .campsite_article .site_img {
  width: 100%;
  object-fit: cover;
}

#reserve .text {
  margin: 20px 0;
}

#reserve .button_reserve button {
  /* 購入ボタン */
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  border: solid 1px #313131;
}

#reserve .button_reserve button:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}

#reserve .button_reserve button:hover {
  background: #009456;
  color: #FFF;
}

#reserve .button_reserve button:hover:after {
  right: 1.4rem;
}

#reserve_form h1 {
  color: #333333;
}

#reserve_form form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reserve_form label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
#reserve_form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#reserve_form input[type="submit"] {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#reserve_form input[type="submit"]:hover {
  background-color: #45a049;
}

/* カレンダー */
.calendar-section {
  color: var(--black);
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
}

.calendar-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-section .header h1 {
  margin: 0;
  font-size: 1.2em;
}

.calendar-section .prev-btn,
.calendar-section .next-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.calendar-section .calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar th {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
}

.calendar td {
  padding: 10px;
  background-color: #f2f2f2;
}

.calendar .day:hover {
  background-color: #ddd;
}

.calendar table {
  width: 100%;
}

/* reserve_form */
#reserve_form h1 {
  text-align: center;
}

#reserve_form form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  color: black;
  /* 文字の色を黒に設定 */
  width: 80%;
  /* フォームの幅を縮小する */
  max-width: 800px;
  /* フォームの最大横幅を800pxに制限する */
}

#reserve_form label {
  margin: 10px 0 5px;
}

#reserve_form input,
select,
textarea,
button {
  padding: 5px;
  width: 100%;
  /* 入力フィールドをフォームの幅に合わせる */
}

/*--------------------------------
facility
----------------------------------*/

#facility #mv {
  background-image: url(../image/tent1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--header-height));
  position: relative;
  margin-bottom: 150px;
}

#facility #copy {
  margin-bottom: 0;
  letter-spacing: 0.5em;
  line-height: 50px;
  font-size: clamp(0.75rem, 0.43rem + 0.67vw, 1rem);
}

#facility article {
  text-align: center;
}

#facility .facility_tb {
  width: 80%;
  background-color: var(--white);
  color: var(--black);
  margin: 30px auto;
  border-collapse: collapse;
}

#facility .facility_tb caption,
.map {
  color: var(--white);
  font-size: 30px;
  margin-top: 150px;
  margin-bottom: 30px;
}

#facility .facility_tb th,
#facility .facility_tb td {
  padding: 20px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  font-size: clamp(0.75rem, 0.43rem + 0.67vw, 1rem);
}

#facility .service th {
  border-right: none;
  width: 200px;
}

#facility .service td {
  text-align-last: left;
}

#facility #map img {
  width: 80%;
  margin: 0 auto;
}

#facility .list th {
  border-bottom: none;
}

#facility .list td {
  width: 50%;
  padding: 50px;
}

#facility .list {
  margin-bottom: 150px;
}

/*--------------------------------
shop
----------------------------------*/

#shop .contents {
  display: flex;
}

#shop .contents:nth-child(odd) {
  flex-direction: row-reverse;
}

#shop .item__image img {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
}

#shop body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: var(--body);
  flex-direction: column;
  color: #000000;
}

#shop main {
  flex: 1;
}

#shop .container {
  width: clamp(350px, 92vw, 1200px);
  margin-inline: auto;
}

#shop .container>*+* {
  -webkit-margin-before: var(--space-xs);
  margin-block-start: var(--space-xs);
}

#shop .container-narrow {
  width: clamp(350px, 60vw, 720px);
  margin-inline: auto;
  margin-top: 2rem;
}

#shop .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
  gap: var(--space-md);
}

#shop .space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shop .side-by-side {
  display: flex;
  flex-direction: column;
}

.arrivals {
  text-align: center;
  margin: 64px 0;
}

.all_products {
  text-align: center;
  margin: 64px 0;
}

#shop .contents {
  display: flex;
  margin-block-start: 3rem;
  margin-bottom: 3rem;
}

#shop .contents:nth-child(odd) {
  flex-direction: row-reverse;
}

#shop .contents img {
  width: 740px;
  height: 470px;
  object-fit: cover;
}

#all .contents {
  padding-top: 2rem;
}

#shop section{
  margin-top: 3rem;
}

@media (min-width: 768px) {
  #shop .side-by-side {
    flex-direction: row;
    justify-content: space-between;
  }
}

#shop .side-by-side-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  #shop .side-by-side-center {
    text-align: left;
  }
}

#shop .centering {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-xs);
}

#shop .cart-thanks-msg {
  font-size: 3rem;
  padding-bottom: 2rem;
}

#shop .item {
  display: flex;
  flex-direction: column;
}

#shop .item>*+* {
  -webkit-margin-before: var(--space-xs);
  margin-block-start: var(--space-xs);
}

#shop .item label {
  -webkit-margin-end: var(--space-xs);
  margin-inline-end: var(--space-xs);
}

#shop .item input[type=number] {
  width: 2.5rem;
}

#shop .item__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

#shop .item__img>figure img {
  width: 100%;
  aspect-ratio: 3/2;
}

#shop .item__name {
  font-weight: bold;
  font-size: var(--heading2);
}

#shop .item__price {
  font-size: var(--heading3);
  color: var(--base-color);
}

#shop .item-detail {
  margin-inline: auto;
}

#shop .item-detail>*+* {
  -webkit-margin-before: var(--space-xs);
  margin-block-start: var(--space-xs);
}

@media screen and (min-width: 768px) {
  #shop .item-detail>*+* {
    -webkit-margin-before: 0;
    margin-block-start: 0;
  }
}

#shop .item-detail form {
  display: contents;
}

#shop .item-detail__img {
  flex-basis: 55%;
}

#shop .item-detail__info {
  flex-basis: 42%;
  padding-inline: 0.5rem;
}

#shop .item-detail__info>*+* {
  -webkit-margin-before: var(--space-xs);
  margin-block-start: var(--space-xs);
}

#shop .item-detail__name {
  font-size: var(--heading2);
}

#shop .item-detail__price {
  font-size: var(--heading2);
  font-weight: bold;
  color: var(--base-color);
}

#shop .item-detail__quantity input {
  -webkit-margin-start: 1rem;
  margin-inline-start: 1rem;
  width: 3em;
  color: #000;
}

#shop .item-detail__btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #shop .item-detail__btn {
    flex-direction: row;
  }

  #shop .item-detail__btn>.btn-item:nth-of-type(1) {
    order: 2;
  }
}

#shop .cart__item-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-top: 2rem;
}

#shop .cart__item-list hr {
  color: var(--grey-25);
}

#shop .cart__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
  gap: var(--space-xs);
}

@media screen and (min-width: 768px) {
  #shop .cart__item {
    flex-direction: row;
  }
}

#shop .cart__item>* {
  flex: 1;
}

#shop .cart-total {
  background-color: #707070;
  width: clamp(300px, 40vw, 400px);
  margin-inline: auto;
  margin-block: var(--space-md);
  padding: 0.5rem 1rem;
}

#shop .cart-total th,
#shop .cart-total td {
  padding-block: 1rem;
}

#shop .cart-total tr {
  border-collapse: collapse;
}

#shop .cart-total th {
  text-align: left;
}

#shop .cart-total td {
  text-align: right;
}

#shop form>*+* {
  -webkit-margin-before: var(--space-xs);
  margin-block-start: var(--space-xs);
}

#shop .form-item {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

#shop .form-item>*:nth-child(1) {
  flex-basis: 30%;
}

#shop .form-item>*:not(:nth-child(1)) {
  flex: 1;
}

#shop .btn-item {
  background-color: #898989;
  border: none;
  color: var(--white);
  padding-block: 0.5rem;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  min-width: 10em;
}

#shop .btn-item-secondary {
  background-color: var(--grey-25);
}

#shop .btn-cart {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: clamp(4.375rem, 3.86rem + 2.353vw, 5.625rem);
  height: clamp(4.375rem, 3.86rem + 2.353vw, 5.625rem);
  border-radius: 10px;
  background-color: #514C49;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#shop .btn-cart a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#shop .btn-cart__inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-content: center;
}

#shop .btn-cart__quantity {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--accent-color-r);
  color: var(--white);
  width: clamp(1.25rem, 1.121rem + 0.588vw, 1.563rem);
  height: clamp(1.25rem, 1.121rem + 0.588vw, 1.563rem);
  display: grid;
  place-content: center;
  border-radius: 50%;
}

#shop .icon-cart {
  font-size: clamp(3.438rem, 3.051rem + 1.765vw, 4.375rem);
  color: var(--white);
}

#shop .btn-primary {
  background-color: #eb8a1c;
  color: var(--white);
}

#shop .btn-secondary {
  background-color: var(--grey-50);
  color: var(--white);
}

#shop .btn-menu {
  background-color: var(--accent-color-g);
  color: var(--white);
}

#shop .btn-del-cart {
  background-color: var(--black);
  color: var(--white);
  width: 100px;
  height: 50px;
  line-height: 10px;
}

.ta_c {
  text-align: center;
}

.disabled>td {
  background-color: var(--grey-25);
}

/*--------------------------------
accsess
----------------------------------*/

#access #mv {
  background-image: url(../image/access.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--header-height));
  position: relative;
  margin: 0;
}

#access__add {
  margin-top: 40px;
  text-align: center;
}

.access__li {
  margin: 20px 0;
}

.access__li:first-child {
  font-size: 30px;
  font-weight: bold;
}

#car {
  text-align: center;
}

.access_img {
  width: 807px;
  height: 629px;
  margin: 100px auto 30px auto;
}

#point {
  margin-top: 100px;
  text-align: center;
}

.point {
  font-size: 50px;
}

.small {
  font-size: 30px;
}

.access_big {
  font-size: 30px;
  margin-bottom: 10px;
}

/*--------------------------------
contact
----------------------------------*/

#contact form,
.contactForm {
  padding: 30px;
}

#contact input[type="text"] {
  width: 200px;
}

#contact input[type="tel"] {
  width: 300px;
}

#contact form p {
  margin-bottom: 30px;
}

#contact form p:nth-last-child(2) {
  margin-bottom: 7px;
}

#contact form p:last-child {
  margin-bottom: 0;
}

#contact input,
textarea {
  margin-top: 7px;
  color: #000;
}

#contact textarea {
  width: 420px;
  height: 115px;
  overflow-y: scroll;
}

.contact_end {
  margin: 30px;
}

.contact_btn {
  color: #000;
}

/*--------------------------------
admin
----------------------------------*/

/* 受注管理？*/

/* .admin-btn-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: var(--space-xs);
}

.admin-table {
  margin-inline: auto;
  width: 80%;
  border-collapse: separate;
}

.admin-table th,
.admin-table td {
  background-color: var(--white);
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.admin-table th {
  white-space: nowrap;
}

.admin-table textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.admin-table-wide {
  width: 100%;
}

.admin-info>*:nth-child(2n) {
  -webkit-margin-after: var(--space-xs);
  margin-block-end: var(--space-xs);
}

.admin-info dt {
  font-size: var(--heading3);
  font-weight: bold;
}

.admin-info dd {
  font-size: var(--heading2);
}

.ta_c {
  text-align: center;
}

.disabled>td {
  background-color: var(--grey-25);
}

#admin {
  margin: 50px 0;
}

#admin td>form {
  display: inline-block;
  margin: 0;
}

#admin .msg {
  color: #f00;
  font-weight: bold;
}

#admin .admin dl {
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 30px;
} */

/* admin修正箇所 */

.admin_main {
  max-width: 1166px;
  margin: 50px auto;
  padding: 20px;
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;
}

.admin dt,
.admin dd {
  line-height: 2em;
  padding: 10px;
  border: 1px solid var(--black);
}

.adminBtn {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.admin_tb {
  width: 100%;
  border-collapse: collapse;
}

.admin_tb th,
.admin_tb td {
  padding: 10px;
  border: 1px solid var(--black);
  text-align: center;
}

.admin_tb .adminOperation{
  min-width: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* .admin_tb tr th:first-child {
  width: 30%;
} */


.add {
  margin: 30px 0;
}

@media (max-width:767px) {

  /* nav */

  .header {
    width: 100%;
    height: 130px;
    padding: 50px;
  }

  #g-nav {
    width: 0;
  }

  .nav {
    display: none;
  }

  /* footer */

  .footer {
    padding: 20px;
  }

  .ft {
    flex-direction: column;
  }

  .ft_links {
    width: 100%;
    justify-content: space-around;
  }

  .ft_snsLinks_ul {
    justify-content: center;
    font-size: 30px;
  }

  /* top */

  #top .contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  .contents_img {
    width: 100%;
  }

  .page_description {
    width: 100%;
    margin: 20px 0;
    padding: 0;
  }

  /* facility */

  #facility article td {
    text-align: left;
  }

  #facility .facility_tb {
    width: 90%;
    margin: 10px auto;
  }

  #facility .facility_tb caption,
  .map {
    margin-top: 100px;
  }

  #facility .facility_tb th,
  #facility .facility_tb td {
    padding: 20px 10px;
  }

  #facility .service th {
    width: 100px;
  }

  #facility .list td {
    padding: 20px;
    padding-top: 0;
  }

  #facility #copy {
    line-height: 30px;
  }

  /* access */

  .access_img {
    width: 100%;
    height: 100%;
  }

  /* contact */

  #contact textarea {
    width: 100%;
  }

  /* shop */

  #shop .form-item {
    flex-direction: row;
    gap: 2rem;
  }

  #shop .item {
    text-align: center;
  }

  /* reserve */

#reserve .section_reserve {
  width: 100%;
  flex-direction: column;
}

#reserve .section_left, #reserve .section_right {
  width: 100%;
}

}
