@charset "utf-8";

/*--------------------------------
初期設定
----------------------------------*/
:root {
    --main-color: #567167;
    --accent-color: #514C49;
    --black: #000000;
    --white: #FFFFFF;
    scroll-behavior: smooth;
    --header-height: 130px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "articulat-cf", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--white);
    background-color: var(--main-color);
}

body,
h1,
h3,
p,
ul,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* 全ページ共通 -----------------------------------------------------------*/

/*--------------------------------
コンテナ
----------------------------------*/

#container {
    max-width: 100%;
    margin: 0 auto;
}

/*--------------------------------
ヘッダー
----------------------------------*/

.header {
    display: flex;
    width: 100%;
    background-color: var(--white);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;

}

/*--------------------------------
ロゴ
----------------------------------*/

.header__logo a img{
    height: 100px;
    margin: 15px 0;
}

/*--------------------------------
グロナビ
----------------------------------*/

#g-nav {
    width: 300px;
}

.g-nav__item {
    width: calc(100% / 2);
    line-height: var(--header-height);
}

.g-nav__item a {
    display: block;
    text-align: center;
    color: var(--black);
}

.g-nav__item a:hover {
    background-color: var(--white);
    color: var(--main-color);
}

.nav {
    display: flex;
    justify-content: end;
}

/*--------------------------------
フッター
----------------------------------*/

.footer {
    height: 450px;
    padding: 20px 80px;
    background-color: var(--white);
    font-size: 16px;
    color: var(--black);
}

.ft {
    display: flex;
    justify-content: space-between;
}

.ft_links_li {
    margin: 30px;
}

.ft_links_li:hover a {
    color: #9d9d9d;
}

.ft__logo a img{
    width: 250px;
    height: 100px;
    margin: 20px;
    text-align: center;
}

.ft__add {
    text-align: center;
    margin: 10px;
}

.ft__name {
    font-size: 30px;
}

.ft_snsLinks_ul {
    display: flex;
    justify-content: end;
    font-size: 50px;
}

.ft_snsLinks_ul li:hover a {
    color: #9d9d9d;
}

.fa-brands {
    margin: 0 20px;
}

.ft_copyright {
    text-align: center;
}

/* 全ページ共通ここまで ---------------------------------------------------*/

/* TOPページページここから ------------------------------------------------*/

/*--------------------------------
セクション
----------------------------------*/

section {
    margin-bottom: 3rem;
}

/*--------------------------------
メインビジュアル(mv)
----------------------------------*/

#top #mv {
    background-image: url(../image/hugues-de-buyer-mimeure-hGuGRayJrv0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--header-height));
    position: relative;
    margin-bottom: 150px;
}

.mv__text {
    text-align: right;
    position: absolute;
    top: 20%;
    right: 5%;
    color: var(--white);
}

.mv__copy {
    font-size: 20px;
    font-weight: normal;
}

.mv__lead {
    font-size: 70px;
}

/*--------------------------------
コンテンツ(contents)
----------------------------------*/

.contents {
    width: 1166px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 183px;
}

/*--------------------------------
お知らせ(news)
----------------------------------*/

#news01 {
    display: flex;
}

#news01 .news_page_description {
    width: 424px;
    height: 336px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#news01 .page_description {
    height: 336px;
    margin-top: 0;
}

.title-style {
    font-size: 40px;
}

.btn {
    width: 293px;
    line-height: 96px;
    font-size: 30px;
    text-align: center;
}

a.btn {
    color: var(--white);
    background-color: #898989;
}

a.btn:hover {
    background: #9d9d9d;
}

.news__item {
    display: flex;
    width: 742px;
    justify-content: space-between;
}

.img {
    width: 230px;
}

/*--------------------------------
facility shop access 共通
----------------------------------*/

.page_description {
    width: 424px;
    height: 576px;
    padding-top: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.contents_img {
    width: 740px;
}

/*——　文字の右にライン　——*/
.title-border-right {
    display: flex;
    align-items: center;
}

.title-border-right:after {
    border-top: 0.5px solid;
    content: "";
    flex-grow: 0.5;
}

.title-border-right:after {
    margin-left: 1rem;
}

/*--------------------------------
facility　access　共通
----------------------------------*/

#facility, #access {
    display: flex;
    flex-direction: row-reverse;
}

.right_flow {
    text-align: right;
}

.btn_r {
    margin: 0 0 0 auto;
}

/*——　文字の左にライン　——*/
.title-border-left {
    display: flex;
    justify-content: end;
    align-items: center;
    }
.title-border-left:before {
    border-top: 0.5px solid;
    content: "";
    flex-grow: 0.5;
    }
.title-border-left:before {
    margin-right: 1rem;
    }

/*--------------------------------
ストア(shop)
----------------------------------*/

#onlinestore {
    display: flex;
}

/* TOPページページここまで ------------------------------------------------*/

/* slider ------------------------------------------------*/
/* .slider {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
.slider img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
/* sliderここまで ------------------------------------------------*/

/*--------------------------------
shop
----------------------------------*/
#shop #mv {
    background-image: url(../image/mug.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--header-height));
    position: relative;
    margin-bottom: 150px;
}
/* #arrivals{
    display: flex;
    flex-direction: column;
}
.arrivals{
    text-align: center;
    margin: 64px 0;
} */
/* #shop .arrivals__item {
    display: flex;
    justify-content: space-between;

} */

#shop .contents{
    display: flex;
}
#shop .contents:nth-child(odd) {
    flex-direction: row-reverse;
}


/*--------------------------------
news
----------------------------------*/
#news #mv {
    background-image: url(../image/news.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--header-height));
    position: relative;
    margin-bottom: 150px;
}
#news .news__item {
    display: flex;
    width: 1166px;
    justify-content: space-between;
}
.recently{
    text-align: center;
    margin: 64px 0;
}
#textnews{
    text-align: center;
    background: var(--main-color);
    width: auto;
    height: auto;
}
/*--------------------------------
reserve
----------------------------------*/
#reserve #mv {
    background-image: url(../image/log-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--header-height));
    position: relative;
    margin-bottom: 150px;
}
#reserve body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  #reserve h1 {
    text-align: center;
  }
  #reserve .section_reserve {
    display: flex;
  }
  #reserve .section_left{
    width: 60%;
  }
  #reserve .section_right{
    width: 40%;
  }
  #reserve .campsite_article {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
  }

  #reserve .campsite_article h2 {
    margin-top: 0;
  }
 
  #reserve .campsite_article p {
    margin: 0;
    font-size: 18px;
  }
  #reserve .campsite_article .campsite_top p{
    font-size: 22px;
  }

  #reserve .campsite_article .site_img {
    width: 100%;
    object-fit: cover;
}
#reserve .text{
    margin: 20px 0 ;
}
#reserve .button_reserve a {    /* 購入ボタン */
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
	border: solid 1px #313131;
}
#reserve .button_reserve a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
#reserve .button_reserve a:hover {
  background: #009456;
  color: #FFF;
}
#reserve .button_reserve a:hover:after {
  right: 1.4rem;
}

  
  #reserve_form h1 {
    color: #333333;
  }
  
  #reserve_form form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #reserve_form label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  #reserve_form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  #reserve_form input[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #reserve_form input[type="submit"]:hover {
    background-color: #45a049;
  }

かたおか


testtestetst


taniyama
 



