@charset "utf-8";

/*--------------------------------
初期設定
----------------------------------*/
:root {
    --main-color: #567167;
    --accent-color: #514C49;
    --black: #000000;
    --white: #FFFFFF;
    scroll-behavior: smooth;
    --header-height: 130px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "articulat-cf", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--white);
    background-color: var(--main-color);
}

body,
h1,
h2,
h3,
p,
ul,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* 全ページ共通 -----------------------------------------------------------*/

/*--------------------------------
コンテナ
----------------------------------*/

#container {
    max-width: 100%;
    margin: 0 auto;
}

/*--------------------------------
ヘッダー
----------------------------------*/

.header {
    display: flex;
    width: 100%;
    background-color: var(--white);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
}

/*--------------------------------
ロゴ
----------------------------------*/

.header__logo a img{
    height: 100px;
    margin: 15px 0;
}

/*--------------------------------
グロナビ
----------------------------------*/

#g-nav {
    width: 300px;
}

.g-nav__item {
    width: calc(100% / 2);
    line-height: var(--header-height);
}

.g-nav__item a {
    display: block;
    text-align: center;
    color: var(--black);
}

.g-nav__item a:hover {
    background-color: var(--white);
    color: var(--main-color);
}

.nav {
    display: flex;
    justify-content: end;
}

/*--------------------------------
フッター
----------------------------------*/

.footer {
    height: 450px;
    padding: 20px 80px;
    background-color: var(--white);
    font-size: 16px;
    color: var(--black);
}

.ft {
    display: flex;
    justify-content: space-between;
}

.ft_links_li {
    margin: 30px;
}

.ft_links_li:hover a {
    color: #9d9d9d;
}

.ft__logo a img{
    width: 250px;
    height: 100px;
    margin: 20px;
    text-align: center;
}

.ft__add {
    text-align: center;
    margin: 10px;
}

.ft__name {
    font-size: 30px;
}

.ft_snsLinks_ul {
    display: flex;
    justify-content: end;
    font-size: 50px;
}

.ft_snsLinks_ul li:hover a {
    color: #9d9d9d;
}

.fa-brands {
    margin: 0 20px;
}

.ft_copyright {
    text-align: center;
}

/* 全ページ共通ここまで ---------------------------------------------------*/

/* TOPページページここから ------------------------------------------------*/

/*--------------------------------
セクション
----------------------------------*/

#top section {
    margin-bottom: 3rem;
}

/*--------------------------------
メインビジュアル(mv)
----------------------------------*/

#top #mv {
    background-image: url(../image/hugues-de-buyer-mimeure-hGuGRayJrv0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--header-height));
    position: relative;
    margin-bottom: 150px;
}

#top .mv__text {
    text-align: right;
    position: absolute;
    top: 20%;
    right: 5%;
    color: var(--white);
}

#top .mv__copy {
    font-size: 20px;
    font-weight: normal;
}

#top .mv__lead {
    font-size: 70px;
}

/*--------------------------------
コンテンツ(contents)
----------------------------------*/

#top .contents {
    width: 1166px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 183px;
}

/*--------------------------------
お知らせ(news)
----------------------------------*/

#top #news {
    display: flex;
}

#top .news_page_description {
    width: 424px;
    height: 336px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#top #news .page_description {
    height: 336px;
    margin-top: 0;
}

#top .title-style {
    font-size: 40px;
}

#top .btn {
    width: 293px;
    line-height: 96px;
    font-size: 30px;
    text-align: center;
}

#top a.btn {
    color: var(--white);
    background-color: #898989;
}

#top a.btn:hover {
    background: #9d9d9d;
}

#top .news__item {
    display: flex;
    width: 742px;
    justify-content: space-between;
}

#top .img {
    width: 230px;
}

/*--------------------------------
facility store access 共通
----------------------------------*/

#top .page_description {
    width: 424px;
    height: 576px;
    padding-top: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#top .contents_img {
    width: 740px;
}

/*——　文字の右にライン　——*/
#top .title-border-right {
    display: flex;
    align-items: center;
}

#top .title-border-right:after {
    border-top: 0.5px solid;
    content: "";
    flex-grow: 0.5;
}

#top .title-border-right:after {
    margin-left: 1rem;
}

/*--------------------------------
facility　access　共通
----------------------------------*/

#top #facility, #access {
    display: flex;
    flex-direction: row-reverse;
}

#top .right_flow {
    text-align: right;
}

#top .btn_r {
    margin: 0 0 0 auto;
}

/*——　文字の左にライン　——*/
#top .title-border-left {
    display: flex;
    justify-content: end;
    align-items: center;
    }
    .title-border-left:before {
    border-top: 0.5px solid;
    content: "";
    flex-grow: 0.5;
    }
    .title-border-left:before {
    margin-right: 1rem;
    }

/*--------------------------------
ストア(store)
----------------------------------*/

#top #store {
    display: flex;
}

/* TOPページページここまで ------------------------------------------------*/
